@model IEnumerable<TaskManager.Models.Notification>

@{
    ViewBag.Title = "Notifications";
}

<h2>Notifications</h2>

@foreach (var item in Model)
{
    if (item.Read == false)
    {
        <div class="well alert alert-danger">
            <span class="label label-danger">NEW</span>
            @item.Content
        </div>
    }
    else
    {
        <div class="well">
            @item.Content
        </div>
    }
}