@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>This site can be used to keep track of various projects, created by managers. Developers can be assigned to tasks of projects. Projects can be viewed and edited, as well as their specific tasks.</p>