@model ICollection<TaskManager.Models.ProjectTask>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<ul>
    @foreach (var task in Model)
    {
        <li class="text-@task.PriorityClassName">@task.Name</li>
    }
</ul>
